body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;

  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
